#nav {
    background-color: black;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    padding:12px;
}
#nav > #navSubmenu {
    margin:auto;
    position:relative;
    text-align: center;
}

#nav .navItem {
    display: inline-block;
    padding:8px;
    margin-right:18px;
    margin-left:18px;
    position: relative;
    text-align: center;
}
#nav .navItem:hover {
    background-color: rgb(32, 32, 32);
}
#nav .navItem a {
    text-decoration: none;
    color:whitesmoke;
}