.gemIconContainer {
    display: inline-block;
    margin:12px;
    position: relative;
    width:auto;
    color:#e8ba7f;
    width:22%;
    max-width: 200px;
    min-width: 180px;
    vertical-align: top;
    overflow: hidden;
    border-radius: 6px;
    background-color: #1f1f1f;
    transition-duration: 200ms;
}
.gemIconContainer > .gemIconPic {
    width:100%;
    position:relative;
    background-color: #0f0f0f;
}
.gemIconContainer > .gemIconPic > img {
    width:100%;
    height:100px;
    object-fit: cover;
    display:block;
}
.gemIconName {
    text-align: center;
    background-color: #0f0f0f;
    padding-top:4px;
    padding-bottom: 4px;
    font-weight: bold;
}
.gemIconClass {
    text-align: left;
    background-color: #2f2f2f;
    padding:4px;
    padding-left:8px;
}
.gemIconQuest {
    text-align: left;
    background-color: #2f2f2f;
    padding:4px;
    padding-left:8px;
}
.gemIconContainer > .gemIconDelete {
    position:absolute;
    top:0px;
    right:0px;
    z-index: 9;
    background-color: #e60000;
    padding:4px;
    cursor: pointer;
}
.gemIconContainer >.gemIconContainerL, .gemIconContainer > .gemIconContainerR {
    position:relative;
    display: inline-block;
    vertical-align: top;
}
.gemIconContainer > .gemIconContainerL {
    width:30%;
    background-color: #1f1f1f;
}
.gemIconContainer > .gemIconContainerR {
    width:70%;
}
.gemIconClassLabel {
    background-color: #1f1f1f;
    padding:4px;
    text-align: center;
}
.gemIconQuestLabel {
    padding:4px;
    background-color: #1f1f1f;
    text-align: center;
    flex-grow: 1;
}
.gemIconContainer > .gemIconWiki {
    position:absolute;
    top:0px;
    left:0px;
    padding:8px;
}
#selectedClass {
    background-color:green;
}




.gemThumbContainer {
    width:auto;
    position:relative;
    display:inline-block;
    margin:8px;
    cursor: pointer;
    border-radius: 8px;
}
.gemThumbContainer > .gemThumbOverlay {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(0,0,0,.5);
    color:whitesmoke;
    text-align: center;
    font-size: 14px;
    width:100%;
    display:block;
    border-radius: 8px;
    padding-top:32px;
}
.gemThumbContainer > .gemThumbPic {
    width:100px;
    border-radius: 8px;
}
.gemThumbContainer > .gemThumbPic > img {
    width:100%;
    border-radius: 8px;
}



#searchGems {
    width:100%;
    padding-bottom:24px;
}
#searchGems > input {
    width:80%;
    margin:auto;
    display:block;
    max-width: 320px;
    padding:2px;
    font-size: 18px;
    border-radius: 2px;
}
#searchGems > #searchGemsLabel {
    text-align: center;
    padding:4px;
}



#selectedGemContainer {
    height:50vh;
    min-height: 300px;
    overflow-y: scroll;
    margin:auto;
    margin-top:18px;
    margin-bottom:18px;
    width:80%;
    border:1px solid #0f0f0f;
    border-radius: 8px;
    display:block;
    margin:auto;
    text-align: center;
    position: relative;
}

#buildGems {
    width:100%;
    position: relative;
    margin:auto;
}
.buildGemsContainer {
    width:90%;
    margin:auto;
    text-align: center;
    position: relative;
    background-color: rgb(240, 240, 240);
    border-radius: 16px;
    margin-top:1rem;
    margin-bottom: 1rem;
    padding:1rem;
}
#sGemContainer {
    width:100%;
    position: relative;
}
#sGemContainer > * {
    text-align: center;
}


#resetBtn {
    padding:12px;
    text-align: center;
    display: block;
    width: 30%;
    margin:auto;
    margin-top:1rem;
    margin-bottom:1rem;
    background-color: rgb(240, 240, 240);
}
#resetBtn:hover {
    background-color: rgb(200, 200, 200);
}
#selectMainBtns button:hover {
    background-color: rgb(200, 200, 200);
}

.buildPathHeader {
    font-size: 2rem;
    color:black;
    font-weight: bold;
    text-align: center;
    padding-bottom:.5rem;
}

#selectMainBtns {
    display:block;
    margin:auto;
    text-align: center;
}
#selectMainBtns button {
    padding:8px;
    width:80px;
    height:76px;
    margin:4px;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(220, 220, 220);
    display:inline-block;
    position:relative;
}
#selectMainBtns button > img {
    object-fit: cover;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    border-radius: 8px;
}
#selectMainBtns button > div {
    object-fit: cover;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:76px;
    border-radius: 8px;
    background-color: rgba(0,0,0,.2);
    z-index: 2;
    color:white;
    line-height: 80px;
    font-size:.8rem;
}
#selectMainBtnHeader {
    display:block;
    width:60%;
    margin:auto;
    text-align: center;
}
#selectMainBtnHeader > span > em {
    font-size:.6rem;
    display:block;
}

#selectedGemContainer::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#selectedGemContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.gemIconContainer * {
    font-size: .8rem;
}

.charNeededContainer {
    display:inline-block;
    padding:.2rem;
    background-color:darkslategray;
    color:whitesmoke;
    border-radius: 4px;
    margin:2px;
}
.charNeededContainer * {
    font-size: .6rem;
}

#gemPageName {
    display:block;
    width:90%;
    margin:auto;
    max-width: 600px;
    line-height: .6rem;
}
#gemPageName > em {
    font-size:.8rem;

}

@media only screen and (max-width: 1279px) {
    .gemIconContainer * {
      font-size: .6rem;
    }
    .gemIconContainer {
        max-width: 220px;
        min-width: 120px;
    }
    #selectedGemContainer {
        width:90%;
    }
    #buildGems {
        width:100%;
    }
    #selectMainBtns {
        width:95%;
    }
    .buildGemsContainer {
        padding:1rem;
    }
    #selectMainBtns button {
        width:60px;
        height:57px;
    }
    #selectMainBtns button > div {
        height:57px;
        font-size:.6rem;
        line-height: 60px;
    }
}

@media only screen and (max-width: 799px) {
    .gemIconContainer * {
      font-size: .5rem;
    }
    .gemIconContainer {
        max-width: 180px;
        min-width: 80px;
        width:40%;
    }
    .buildGemsContainer {
        width:100%;
        padding:.5rem;
    }
    .buildPathHeader {
        font-size: 1.2rem;
    }
}

