#navbar {
    position: fixed;
    top:0px;
    left:0px;
    z-index:98;
    height:60px;
    background-color: rgb(230, 230, 230);
    width:100%;
    margin:auto;
    text-align: center;
  }

  #navbar > a {
    color:black;
    display:inline-block;
    padding-left:3rem;
    padding-right:3rem;
    padding-top:1rem;
    padding-bottom:1rem;
    text-align: left;
    text-decoration: none;
  }
  
  #navbar > a:hover {
    color:rgb(175, 175, 175);
  }

  #siteBG {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: -98;
    min-height:100vh;
    background-color: whitesmoke;
}

#siteBG > img {
  min-height: 105vh;
  width:100%;
  object-fit: cover;
}

.pageName {
  text-align: center;
  color:black;
  font-size:36px;
  position:relative;
  padding-top:2rem;
}
#root > .pageContainer {
  background-color: rgba(255,255,255,0.8);
  margin:auto;
  padding-top:60px;
  width:60%;
  padding-bottom:4rem;
}
#root {
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color: rgb(204, 204, 204);
  z-index: 0;
}

@media only screen and (max-width: 1279px) {
    #navbarM {
        display:block;
        position:fixed;
        top:16px;
        left:16px;
        z-index: 99;
      }
    
      #navbarM > div{
        width:22px;
        height:4px;
        background-color: #e8ba7f;
        margin:4px;
      }
    
      #navbar {
        width:100vw;
        height:100vh;
        z-index: -99;
        padding-top:3rem;
        background-color: whitesmoke;
      }
    
      #navbar > a {
        width:100%;
        text-align: center;
        font-size:2rem;
      }
      .pageName {
        padding-top:0px;
      }
      #root > .pageContainer {
        width:80%;
      }

}

@media only screen and (min-width: 1280px) {
    #navbar {
        z-index: 98;
    }
    
}

@media only screen and (max-width: 799px) {
  .pageName {
    font-size: 1.5rem;
  }
  #root > .pageContainer {
    width:100%;
    padding-left:12px;
    padding-right:12px;
  }
}