.recipeRow {
  width:100%;
  border: 2px black solid;
  position: relative;
  display:flex;
}
.recipeBox {
  width:50%;
  display:inline-block;
  align-self: center;
}
.recipeRow > .resultBox {
  width:50%;
  display:inline-block;
  border-right:2px black solid;
  height:100%;
  align-self: center;
}
.recipeTable > * {
  color:black;
}
.recipeTable {
  width:80%;
  display:block;
  margin:auto;
  padding-top:2rem;
}
.tableItem {
  padding:2px;
}
.itemContainer {
  padding:8px;
}
.recipeTableHeaders {
  width:50%;
  color:black;
  display:inline-block;
  padding-left:8px;
  padding-bottom:4px;
  font-weight: bold;
  font-size:1.2rem;
}
#searchRecipeLabel {
  text-align: center;
}
#searchInput {
  text-align: center;
  margin:auto;
  display:block;
  width:40%;
  max-width: 300px;
}

@media only screen and (max-width: 1279px) {
  .recipeTable {
    width:80%;
  }
  #searchInput {
    width:90%;
  }
}

@media only screen and (max-width: 799px) {
  .recipeTable {
    width:95%;
  }
}